OKTA_DOMAIN=
OKTA_TOKEN=
ATLASSIAN_DOMAIN=
ATLASSIAN_EMAIL=
ATLASSIAN_API_TOKEN=
ATLASSIAN_ADMIN_TOKEN=
JSM_SERVICE_DESK_ID=
JSM_GROUP_ID=
WEBHOOK_SECRET=
MANAGED_DOMAIN=
JWT_SECRET=
ADMIN_USERNAME=
ADMIN_PASSWORD=
SYNC_API_KEY=
SYNC_HOURS=12
OKTA_FILTER_FIELD=
OKTA_FILTER_VALUE=
SLACK_WEBHOOK_URL=